<table>
<tr>
    <th>Producto</th>
    <th>Precio</th>
    <th>Stock</th>
    <th>Estado</th>
    <th>Acciones</th>
</tr>

{% for producto in page_obj %}
<tr>
<td>{{ producto.nombre }}</td>
<td>${{ producto.precio }}</td>
<td>{{ producto.cantidad }}</td>

<td>
    {% if producto.publicado %}
        <span class="badge publicado">Publicado</span>
    {% else %}
        <span class="badge borrador">Borrador</span>
    {% endif %}
</td>

<td>
<a href="{% url 'editar_producto' producto.id %}">Editar</a> |
<a href="{% url 'toggle_publicacion' producto.id %}">Estado</a>
</td>

</tr>
{% endfor %}
</table>

<!-- PAGINADOR -->
<div class="pagination">

{% if page_obj.has_previous %}
<a class="btn primary" href="?page=1">«</a>
<a class="btn primary" href="?page={{ page_obj.previous_page_number }}">‹</a>
{% endif %}

<span>Página {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>

{% if page_obj.has_next %}
<a class="btn primary" href="?page={{ page_obj.next_page_number }}">›</a>
<a class="btn primary" href="?page={{ page_obj.paginator.num_pages }}">»</a>
{% endif %}

</div>