{% extends "layouts/admin_base.html" %}

{% block sidebar %}{% endblock %}

{% block title %}Crear Usuario{% endblock %}

{% block content %}

<div class="tarjeta" style="max-width:900px; margin:auto;">

    <h2>Crear Nuevo Usuario</h2>

    <form method="POST">
        {% csrf_token %}

        <label>Usuario</label>
        <input type="text" name="username" required>

        <label>Email</label>
        <input type="email" name="email">

        <label>Contraseña</label>
        <input type="password" name="password" required>

        <label>Rol</label>
        <select name="rol" required>
            {% for grupo in grupos %}
                <option value="{{ grupo.name }}">{{ grupo.name }}</option>
            {% endfor %}
        </select>

        <br><br>

        <button type="submit" class="btn-agregar">
            Crear Usuario
        </button>

         <a href="{% url 'dashboard_admin' %}" 
               class="btn-cancelar">
                Cancelar
            </a>
    </form>

</div>

{% endblock %}
